<!-- <a routerLink="/admin/products/new" class="btn btn-primary mb-3"
  >New User</a
> -->
<h1><strong>Users</strong></h1>
<div class="row">
  <div class="col">
    <div class="card p-4">
      <h3><strong>New User</strong></h3>
      <app-user-form
        (onNewUser)="refresh($event)"
        [userToEdit]="userToEdit"
      ></app-user-form>
    </div>
  </div>
  <div class="col">
    <p>
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        #query
        (keyup)="filter(query.value)"
      />
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of filteredUsers$ | async">
          <td>{{ c.username }}</td>
          <td>
            <button class="btn btn-secondary" (click)="sendToForm(c)">
              Edit
            </button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="delete(c.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Toast -->
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
